body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1; /* Inicialmente completamente visible */
    transition: opacity 0.5s ease-out; /* Agrega una transición */
    
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-preloader {
    /* Establece la opacidad en 0 para ocultar el preloader */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s 0.5s; /* Añade transición a la opacidad y retrasa la visibilidad */
}